html, body {
  margin: -10px;
  padding:0;
  height: 100%;
  text-align: center;
}

section {
  min-height: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
  transition: all 3000ms;
  -webkit-transition: all 300ms;
  -noz-transition: all 300ms;
  -o-transition: all 300ms;
}

a:hover {
  opacity: 0.5;
}

li {
  list-style-type: none;
}

img {
  image-orientation: center;
}

h1, h2, h3, a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #494949;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: #5d7177;
  text-align: center;
}

h3 {
  font-size: 40px;
  padding-top: 8%;
  margin-bottom: 5px;
  text-align: center;
}

h4, p {
  font-family: "Roboto Slab", sans-serif;
  color: #494949;
  text-align: center;
}

hr {
  width: 30px;
  height: 3px;
  background: #494949;
  border: 0;
  margin: 0 auto 40px auto;
}

li, img, .button, #logo, .fa-bars {
  transition: all 3000ms;
  -webkit-transition: all 300ms;
  -noz-transition: all 300ms;
  -o-transition: all 300ms;
}

  .fa-bars {
    display: none;
  }

/*Header**************/

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0,1);
  z-index: 1;
}

/*Home**************/

#home {
  background: url(img/landing.jpg);
  background-position: center center;
  background-size: auto;
  background-attachment: fixed;
}

#home h1 {
  margin: 240px auto 0 auto;
  font-size: 50px;
}

#home h2 {
  margin: 0 auto 0 auto;
  font-size: 20px;
}

#home img {
  width: 50px;
  margin-top: 20px;
  opacity: 0.7;
}

/*about**************/

#about a img {
  width: 150px;
}

/*Skills**************/

#skills {
  background-color: #f0f0f0;
}

#skill-areas {
  width: 900px;
  margin: 0 auto 0 auto;
}

#skill-areas ul {
  padding: 0;
}

#skill-areas ul li {
  width: 33.3%;
  float: left;
  margin-bottom: 15px;
}

#skill-areas img {
  width: 280px;
  height: 170px;
  border-radius: 5px;
}

#skill-areas img:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

/*Contact**************/

form input, textarea {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 2px solid;
  border-color: #494949;
}

form input {
  width: 550px;
  height: 30px;
}

form textarea {
  width: 550px;
  height: 200px;
  resize: none;
}

.input_text {
  color: #494949;
  padding-left: 10px;
}

.button {
  background-color: #f0f0f0;
  color: #494949;
  width: 565px;
  height: 50px;
}

.button:hover {
  background-color: #494949;
  color: #f0f0f0;
}

#contact li {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  color: #494949;
}

/*Footer**************/

footer {
  width: 100%;
  height: 70px;
  background-color: #3f3f3f;
}

footer p {
  font-size: 20px;
  color: white;
  padding-top: 20px;
}

/*Media queries**************/

/*Tablets*****/

@media screen and (max-width:1024px) {
  header {
    height: auto;
  }
  #logo {
    width: 100px;
    margin-top: 24px;
  }
  header nav {
    margin-top: 0;
  }

  h3 {
    padding-top: 12%;
  }
  #about p {
    width: 80%;
  }
  #skill-areas {
    width: auto;
  }
  #skill-areas ul li {
    width: 100%;
    float: none;
  }
  #skill-areas ul li:last-child {
    padding-bottom: 20%;
  }
  #skill-areas img {
    width: 55%;
    height: auto;
  }
  form input, form textarea, {
    width: 60%;
  }
  .button {
    width: 62%;
  }
}

/*Mobile******/

@media screen and (max-width:480px) {
  header nav {
    margin: 0;
    float: none;
  }
  .fa-bars {
    font-size: 17px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: right;
    float: right;
    margin: -25px 30px 0 0;
  }
  .fa-bars:hover {
    opacity: 0.5;
  }
  header nav ul {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    }
  header nav ul.open {
    height: auto;
  }
  header nav ul li {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-size: 11px;
    border-top: 1px solid #dddddd;
  }
  header nav ul li:hover {
    background-color: #eeeeee;
  }
}
